/* Dark Theme Background */
body {
    background-color: #1e1e2f;
    color: #ffefa5;
}

/* Navbar Styling */
.custom-navbar {
    background: linear-gradient(70deg, #0a0359, #8f3fb4);
    padding: 15px;
    color: white;
}
.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
.account-dropdown {
    background-color: #3f3f3c;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    transition: background 0.5s;
}
.account-dropdown:hover {
    background-color: #151211;
}

/* Dashboard Container */
.dashboard-container {
    margin-top: 30px;
    background: #1f1f33;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.1);
}

/* Header Section */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dashboard-title {
    color: #d412e6;
    text-shadow: #e1b2ec;
}
.refresh-btn {
    background-color: #28a745;
    border: none;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.refresh-btn:hover {
    transform: scale(1.05);
    background-color: #218838;
}

/* Stats Cards */
.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}
.stat-card {
    background: linear-gradient(135deg, #540e66, #c636f1);
    text-align: center;
    padding: 15px;
    border-radius: 25px; /* Reduced to make it more rectangular */
    width: 50%; /* Adjust width to fit container */
    max-width: 300px; /* Limit max width for better layout */
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block; /* Ensures proper spacing in a row */
    margin-left: 5px;
    margin-right: 5px;
}

.stat-card h5 {
    color: #f7ec8a;
    font-size: 19px; /* Smaller heading */
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 17px; /* Smaller text */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: whitesmoke;
}

.stat-card:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

/* Table Hover Effects */
.mev-table tbody tr:hover {
    background-color: rgba(255, 75, 43, 0.2) !important;
    cursor: pointer;
}

/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
